/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

html {
    background-color: cornsilk;
    font-family: "Gill Sans", sans-serif;
}

section {
    max-width: 600px;
    /*border: 1px solid blue;*/
    display: block;
    margin: 15px auto 0;
}

li {
    list-style-type: armenian;
}

#title {
    margin: 50px auto 0;
    display: block;
    /*border: 1px solid purple;*/
    max-width: 700px;
    text-align: center;
    padding: 6px;
    font-weight: bold;
    font-size: 2rem;
    height: 100px;
}

#img-div {
    /*border: 1px solid green;*/
    display: block;
    padding: 0;
    margin: 0 auto;

}

#image {
    max-width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
}

#img-div p {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 0.9rem;
}

#tribute-link {
    display: block;
    margin: 0 auto;
    /*border: 1px solid yellow;*/
    text-align: center;
}

#intro {
    font-size: 1.2rem;
    display: block;
    max-width: 90%;
    /*text-align: center;*/
    margin: 19px auto 10px;
}
